<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78017741393-te0t08j8bii1ql7ko4ul9o76skav1tb6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78017741393-te0t08j8bii1ql7ko4ul9o76skav1tb6</string>
	<key>API_KEY</key>
	<string>AIzaSyACWXCRs3tiTxKi-RS6mz00b8HEG8jX2V4</string>
	<key>GCM_SENDER_ID</key>
	<string>78017741393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCard</string>
	<key>PROJECT_ID</key>
	<string>fluttercard-95b41</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttercard-95b41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78017741393:ios:bc29498599c6eb2af12e70</string>
</dict>
</plist>